 * {
            margin: 0;
            padding: 0;
        }
        
        html {
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0;
			
        }
        
        body {
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        
        #loginDiv {
            width: 37%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            background-color: rgba(75, 81, 95, 0.3);
            box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
            border-radius: 5px;
        }
        
       
        p {
            margin-top: 30px;
            margin-left: 20px;
            color: rgb(240, 245, 245);
        }
        
        input {
            margin-left: 15px;
            border-radius: 5px;
            border-style: hidden;
            height: 30px;
            width: 140px;
            background-color: rgba(216, 191, 216, 0.5);
            outline: none;
            color: rgb(233, 233, 233);
            padding-left: 10px;
        }
        
        .button {
            border-color: cornsilk;
            background-color: rgba(237, 100, 175, 0.7);
            color: aliceblue;
            border-radius: 5px;
            width: 200px;
            height: 31px;
            font-size: 16px;
        }